= content_for :head do
  %title Transdesign.org
  
.parallax-viewport#parallax
  .parallax-layer
    %img{ :src => "images/deck.png", :style => "width:1936px; height:2592px;" }
  .parallax-layer{ :style => "width:3000px; height:2382px;" }
    %img{ :src => "images/stripe.png", :style => "position:absolute; left:0; top:-12px;" }
