<% content_for :head do %>
  <title>The Middleman!</title>
<% end%>


<%= partial "footer" %>


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="" />
	<meta name="description" content="" />
	
	<title>jQuery.parallax</title>
	
	<script>document.documentElement.className = 'js';</script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<!-- Force latest IE rendering engine & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!-- Make IE recognise HTML5 elements for styling -->
	<!--[if lte IE 8]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<noscript>
		<strong>Warning!</strong>
		Your browser does not support HTML5 so some elements on this page are simulated using JScript. Unfortunately your browser has JScript disabled. Please enable it in order to display this page.
	</noscript>
	<![endif]-->
	<!-- Disable image toolbar in IE6 -->
	<!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
	
	<link rel="icon" type="image/png" href="images/favicon.png" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	
	<link rel="stylesheet" type="text/css" href="http://stephband.info/css/template.min.css" />
	<link rel="stylesheet" type="text/css" href="http://stephband.info/css/template.theme.min.css" />
	
	<link rel="stylesheet" type="text/css" href="http://stephband.github.com/css/site.layout.css" />
	<link rel="stylesheet" type="text/css" href="http://stephband.github.com/css/docs.classes.css" />
	
	<!--[if (lt IE 9)&(!IEMobile)]>
	<link rel="stylesheet" href="http://stephband.info/css/template.layout.32em.css" media="all" />
	<link rel="stylesheet" href="http://stephband.info/css/template.layout.48em.css" media="all" />
	<![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="http://stephband.infocss/template.ie.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="http://stephband.infocss/template.ie8.css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="http://stephband.infocss/template.ie7.css" /><![endif]-->
	<!--[if IE 6]><link rel="stylesheet" href="http://stephband.infocss/template.ie6.css" /><![endif]-->
	
	<link rel="stylesheet" href="css/jquery.parallax.css" />

  <style type="text/css" media="screen, projection">
    .parallax-viewport {
      width: 100%;
      max-width: 2000px;
      height: 2000px;
      background-color: #aebcc9;
    }
    

	  small {
	    text-transform: uppercase;
	  }
	</style>

</head>

<body>

  
  
    <div class="parallax-viewport" id="parallax">
        
        <!-- parallax layers -->
        <div class="parallax-layer" >
            <img src="images/deck.png" alt="" style="width:1936px; height:2592px;" />
        </div>
        <div class="parallax-layer" style="width:3000px; height:2382px; " >
						<img src="images/stripe.png" alt="" style="position:absolute; left:0; top:-12px;"/>
            
        </div>
        </div>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script src="javascripts/jquery.event.frame.js"></script>
  <script src="javascripts/jquery.parallax.js"></script>
  <script>
  jQuery(document).ready(function(){
    jQuery('#parallax .parallax-layer')
    .parallax({
      mouseport: jQuery('#parallax')
    });
  });
  </script>
</body>
</html>
